
<div>
    <div>
        <label>
            @Label
        </label>
    </div>
    @ChildContent

    @if (DataAnnatationEnabled)
    {
        <div>
            <RadzenDataAnnotationValidator Component=@ComponentName />
    </div>
    }
</div>
@code {
    [Parameter]
    public string Label { get; set; } = "Label Dafault";

    [Parameter]
    public string ComponentName { get; set; }

    [Parameter]
    public bool DataAnnatationEnabled { get; set; } = true;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
