@page "/signIn"
@rendermode InteractiveServer
@using GymProject.BL.Services.AccessServices
@using GymProject.Components.FormComponents
@inject AccessService _accessService

<h3>SignIn</h3>

<RadzenTemplateForm TItem="SignInModel" Data="@_signInModel" Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>


    <div class="row mb-3">
        <div class="col-4">
            <InputForm Label="Email *" ComponentName="Email">
                <RadzenTextBox Name="Email" @bind-Value=@_signInModel.Email />
            </InputForm>
        </div>

        <div class="col-4">
            <InputForm Label="Password *" ComponentName="Password">
                <RadzenTextBox Name="Password" @bind-Value=@_signInModel.Password />
            </InputForm>
        </div>

        <div class="col-4">
            <InputForm Label="Password Confirmed *" ComponentName="PasswordConfirmed">
                <RadzenTextBox Name="PasswordConfirmed" @bind-Value=@_signInModel.PasswordConfirmed />
            </InputForm>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <InputForm Label="First Name * " ComponentName="FirstName">
                <RadzenTextBox Name="FirstName" @bind-Value=@_signInModel.FirstName />
            </InputForm>
        </div>

        <div class="col-4">
            <InputForm Label="Last Name *" ComponentName="LastName">
                <RadzenTextBox Name="LastName" @bind-Value=@_signInModel.LastName />
            </InputForm>
        </div>

        <div class="col-4">
            <InputForm Label="Birth *" DataAnnatationEnabled="false">
                <RadzenDatePicker @bind-Value=@_signInModel.Birth Name="Birth" DateFormat="dd/MM/yyyy" />
                <div>
                    <RadzenRequiredValidator Component="Birth" Text="The Birth field is required" />
                </div>
            </InputForm>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-4">
            <InputForm ComponentName="Weight" Label="Weight *" DataAnnatationEnabled="false">
                    <RadzenNumeric Placeholder="0.0" Step="0.5" @bind-Value=@_signInModel.Weight Name="Weight" />
                <div>
                    <RadzenRequiredValidator Component="Weight" Text="The Weight field is required" />
                </div>
            </InputForm>
        </div>

        <div class="col-4">
            <InputForm ComponentName="Height" Label="Height *" DataAnnatationEnabled="false">
                <RadzenNumeric Placeholder="0.0" Step="0.5" @bind-Value=@_signInModel.Height Name="Height"  />
                <div>
                    <RadzenRequiredValidator Component="Height" Text="The Height field is required" />
                </div>
            </InputForm>
        </div>

    </div>
    <RadzenButton ButtonType="ButtonType.Submit" Text="sign In"/>

</RadzenTemplateForm>


@code {
    private SignInModel _signInModel;

    protected override Task OnInitializedAsync()
    {
        if (_signInModel == null)
        {
            _signInModel = new SignInModel();
        }
        return base.OnInitializedAsync();
    }

    async void OnSubmit(SignInModel model)
    {
        var x = await _accessService.AddUser(model);
        var Y = 2;
        //console.Log($"Submit: {JsonSerializer.Serialize(model, new JsonSerializerOptions() { WriteIndented = true })}");
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        var x = _signInModel;
        var Y = 2;
        //console.Log($"InvalidSubmit: {JsonSerializer.Serialize(args, new JsonSerializerOptions() { WriteIndented = true })}");
    }

}
