@page "/signIn"
<h3>SignIn</h3>

<RadzenTemplateForm TItem="SignInModel" Data="@SignInModel" Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-4">
            <div>
                <label>
                    E-mail *
                </label>
            </div>
             <RadzenTextBox @bind-Value=@SignInModel.Email Name="Email" />
            <RadzenDataAnnotationValidator Component="Email" Style="position: absolute" />
        </div>

        <div class="col-4">
            <div>
                <label>
                    Password *
                </label>
            </div>
            <RadzenPassword @bind-Value=@SignInModel.Password  Name="Password"/>
            <RadzenDataAnnotationValidator Component="Password" Style="position: absolute" />

        </div>

        <div class="col-4">
            <div>
                <label>
                    Confirm Password *
                </label>
            </div>
            <RadzenPassword @bind-Value=@SignInModel.PasswordConfirmed Name="PasswordConfirmed" />
            <RadzenDataAnnotationValidator Component="PasswordConfirmed" Style="position: absolute" />

        </div>
    </div>

    <RadzenButton ButtonType="ButtonType.Submit" Text="Hi"></RadzenButton>

</RadzenTemplateForm>
@code {

    private SignInModel SignInModel { get; set; }

    protected override void OnInitialized()
    {
        SignInModel = new SignInModel();
    }


    void OnSubmit(SignInModel model)
    {
        //console.Log($"Submit: {JsonSerializer.Serialize(model, new JsonSerializerOptions() { WriteIndented = true })}");
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        //console.Log($"InvalidSubmit: {JsonSerializer.Serialize(args, new JsonSerializerOptions() { WriteIndented = true })}");
    }

}
